body {
  margin: 0;
  padding: 0;
 font-family:Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
 
}
#root{
  text-align:center;
  padding:100px;  
}

h1,h2{
  font-size:70px;
  color:mediumseagreen;
  text-shadow:0px 5px 5px seagreen;
}
